
<div class="total">
  <h1>questionbox</h1>
  <p>a "go-to" for finding answers</p>
  <div class="test">
    <a class="btn btn-default" href="#" role="button">Link</a>
    <button class="btn btn-default" type="submit">Button</button>
    <input class="btn btn-default" type="button" value="Input">
    <input class="btn btn-default" type="submit" value="Submit">
  </div>
</div>
