
.sign-out {
  padding: 2vh;
  // background-color: black;
  height: 5vh;
}
.container-fluid {
  // border: 10px solid black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  color: white;
  background: image_url("hex.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  p {
    text-transform: uppercase;
    padding: 10px;
  }

  label {
    color: white;
  }

  .test {
    padding: 20px;
  }
  .form-group {
    color: black;
    width: 250px;
  }
}
